<main>
    <h3>{{"heading.registrationAdvertiser" | translate}}</h3>
    <form name="advertiserForm">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="company" class="required">{{"label.company" | translate}}</label>
                    <input type="text" class="form-control" id="company" ng-model="advertiser.company" required="">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="title" class="required">{{"label.title" | translate}}</label>
                            <select type="text" class="form-control" id="title" ng-model="advertiser.title" titleOpt="" required="">
                                <option>{{"label.mr" | translate}}</option>
                                <option>{{"label.mrs" | translate}}</option>
                            </select>
                            <span ng-if="advertiser.title === undefined && sendRequest" class="help-block red">{{"alert.errorTitle" | translate}}</span>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstname" class="required">{{"label.firstname" | translate}}</label>
                            <input type="text" class="form-control" id="firstname" ng-model="advertiser.firstname" required="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastname" class="required">{{"label.lastname" | translate}}</label>
                            <input type="text" class="form-control" id="lastname" ng-model="advertiser.lastname" required="">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="required">{{"label.password" | translate}}</label>
                    <input type="password" class="form-control" minlength="6" id="password" ng-model="advertiser.password" required="">
                </div>
                <div class="form-group">
                    <label for="password" class="required">{{"label.passwordRepeat" | translate}}</label>
                    <input type="password" class="form-control" id="password" ng-model="passwordConfirm"
                           required="" compare-to="advertiser.password">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="image">{{"label.logo" | translate}}</label>
                            <input name="file" id="image" class="form-control" type="file" fileread="image" onchange="angular.element(this).scope().saveImage()" 
                                   ng-show="advertiser.logo === undefined">
                            <div class="elementImage" ng-if="advertiser.logo !== undefined">
                                <span class="glyphicon glyphicon-trash imgDelete" aria-hidden="true" ng-click="deleteImage()"><span> löschen</span></span>
                                <img ng-src="../api/images/{{advertiser.logo.id}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="required" for="street">{{"label.street" | translate}}</label>
                    <input type="text" class="form-control" id="street" ng-model="advertiser.address.street" required="">
                </div>  
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="zip" class="required">{{"label.zip" | translate}}</label>
                            <input type="text" minlength="5" maxlength="5" zip="" class="form-control" id="zip" ng-model="advertiser.address.zip" required="">
                            <span ng-if="advertiserForm.$error.zip && sendRequest" class="help-block red">{{"alert.invalidZip" | translate}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="city" class="required">{{"label.city" | translate}}</label>
                            <input type="text" class="form-control" id="city" ng-model="advertiser.address.city" required="">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="required" for="country">{{"label.country" | translate}}</label>
                    <input type="text" class="form-control" id="country" ng-model="advertiser.address.country" required="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="phone" class="required">{{"label.phone" | translate}}</label>
                    <input type="text" phone="" class="form-control" id="phone" ng-model="advertiser.phone" required="">
                    <span ng-if="advertiserForm.$error.phone && sendRequest" class="help-block red">{{"alert.invalidPhoneNumber" | translate}}</span>
                </div>
                <div class="form-group">
                    <label for="email" class="required">{{"label.mail" | translate}}</label>
                    <input type="email" class="form-control" id="email" ng-model="advertiser.email" required="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="required">{{"label.requiredFields" | translate}}</div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-default" href="#/registration/">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {{"button.cancel" | translate}}
                </a>
                <button type="submit" class="btn btn-success" ng-click="registerAdvertiser()">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    {{"button.register" | translate}}
                </button>
            </div>
        </div>
    </form>
</main>