<main>
    <h3>{{"heading.registrationDriver" | translate}}</h3>
    <form name="driverForm">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="title" class="required">{{"label.title" | translate}}</label>
                            <select type="text" class="form-control" id="title" ng-model="driver.title" titleOpt="" required="">
                                <option>{{"label.mr" | translate}}</option>
                                <option>{{"label.mrs" | translate}}</option>
                            </select>
                            <span ng-if="driver.title === undefined && sendRequest" class="help-block red">{{"alert.errorTitle" | translate}}</span>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstname" class="required">{{"label.firstname" | translate}}</label>
                            <input type="text" class="form-control" id="firstname" ng-model="driver.firstname" required="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastname" class="required">{{"label.lastname" | translate}}</label>
                            <input type="text" class="form-control" id="lastname" ng-model="driver.lastname" required="">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="required">{{"label.mail" | translate}}</label>
                    <input type="email" class="form-control" id="email" ng-model="driver.email" required="">
                </div>  
                <div class="form-group">
                    <label for="phone" class="required">{{"label.phone" | translate}}</label>
                    <input type="text" class="form-control" id="phone" ng-model="driver.phone" phone="" required="">
                    <span ng-if="driverForm.$error.phone && sendRequest" class="help-block red">{{"alert.invalidPhoneNumber" | translate}}</span>
                </div>
                <div class="form-group">
                    <label for="password" class="required">{{"label.password" | translate}}</label>
                    <input type="password" class="form-control" id="password" ng-model="driver.password" required="">
                </div>
                <div class="form-group">
                    <label for="password" class="required">{{"label.passwordRepeat" | translate}}</label>
                    <input type="password" class="form-control" id="password" ng-model="passwordConfirm"
                           required="" compare-to="driver.password">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="image">{{"label.profilePicture" | translate}}</label>
                            <input name="file" id="image" class="form-control" type="file" fileread="image" onchange="angular.element(this).scope().saveImage()" 
                                   ng-show="driver.profilePicture === undefined">
                            <div class="elementImage" ng-if="driver.profilePicture !== undefined">
                                <span class="glyphicon glyphicon-trash imgDelete" aria-hidden="true" ng-click="deleteImage()"><span> löschen</span></span>
                                <img ng-src="../api/images/{{driver.profilePicture.id}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="street" class="required">{{"label.street" | translate}}</label>
                    <input type="text" class="form-control" id="street" ng-model="driver.address.street" required="">
                </div>  
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="zip" class="required">{{"label.zip" | translate}}</label>
                            <input type="text" class="form-control" id="zip" ng-model="driver.address.zip" zip=""
                                   minlength="5" maxlength="5" required="">
                            <span ng-if="driverForm.$error.zip && sendRequest" class="help-block red">{{"alert.invalidZip" | translate}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="city" class="required">{{"label.city" | translate}}</label>
                            <input type="text" class="form-control" id="city" ng-model="driver.address.city" required="">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="country" class="required">{{"label.country" | translate}}</label>
                    <input type="text" class="form-control" id="country" ng-model="driver.address.country" required="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="occupation">{{"label.occupation" | translate}}</label>
                    <input type="text" class="form-control" id="occupation" ng-model="driver.occupation">
                </div>  
                <div class="form-group">
                    <label for="birthdate" class="required">{{"label.birthdate" | translate}}</label>
                    <p class="input-group">
                        <input type="text" class="form-control" id="birthdate" ng-model="driver.birthdate" datepicker-popup="{{datePicker.format}}" datepicker-options="datePicker.options" is-open="datePicker.instances['event1']" required="">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="datePicker.open($event, 'event1')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </p>
                </div>  
                <div class="form-group">
                    <label for="licenseDate" class="required">{{"label.licenseDate" | translate}}</label>
                    <p class="input-group">
                        <input type="text" class="form-control" id="birthdate" ng-model="driver.licenseDate" datepicker-popup="{{datePicker.format}}" datepicker-options="datePicker.options" is-open="datePicker.instances['event2']" required="">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="datePicker.open($event, 'event2')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="description">{{"label.description" | translate}}</label>
                    <textarea type="text" class="form-control" id="description" ng-model="driver.description"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="required">{{"label.requiredFields" | translate}}</div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-default" href="#/registration/">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {{"button.cancel" | translate}}
                </a>
                <button type="submit" class="btn btn-success" ng-click="registerDriver()">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    {{"button.register" | translate}}
                </button>
            </div>
        </div>
    </form>
</main>