<main>
    <div class="row">
        <div class="col-md-12">
            <h2>{{"heading.faq" | translate}}</h2>
            <p>{{"label.faqInfo" | translate}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>{{"label.search" | translate}}</h3>
            <form>
                <div class="form-group">
                    <input class="form-control" id="faqSearch" ng-model="faqSearch" type="text" />
                </div>
            </form>
            <h3>{{"label.menu" | translate}}</h3>
            <div class="btn-group-vertical">
                <button type="button" style="cursor: pointer" ng-repeat="faq in faqs | filter:faqSearch"
                    class="btn btn-default btn-faq" ng-click="selectItem($index)">{{faq.title}}</button>
            </div>
        </div>
        <div class="col-md-9">
            <h3>{{"label.details" | translate}}</h3>
            <div class="panel-group">
                <div class="panel panel-default" ng-repeat="faq in faqs | filter:faqSearch" id="faq{{$index}}">
                    <div style="cursor: pointer" class="panel-heading" role="tab" ng-click="changeItem($index)">
                        <h4 class="panel-title">
                            {{faq.title}}
                        </h4>
                    </div>
                    <div class="panel-collapse" ng-class="{collapse: (!isOpen[$index])}" role="tabpanel">
                        <div class="panel-body" ng-class="{selectedItem: (selectedItem === $index)}" ng-bind-html="sce.trustAsHtml(faq.description)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>