<main>
    <h1>Registrierung</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail registration">
                <div class="thumb-img">
                <img src="./img/registration/driver.jpg" alt="Registrierung Fahrer">
                </div>
                <div class="caption">
                    <h3>Beim Fahren Geld verdienen</h3>
                    <p>Registriere Dich noch heute kostenlos als Fahrer und verdiene mit
                        Deinem Auto Geld.</p>
                    <div class="text-center"> 
                    <p><a href="#registration/driver/" class="btn btn-primary" role="button">Als Fahrer Registrieren</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail registration">
                <div class="thumb-img">
                <img src="./img/registration/advertiser.jpg" alt="Registrierung Werbender">
                </div>
                <div class="caption">
                    <h3>Fahrzeug-Werbefl&auml;chen deutschlandweit</h3>
                    <p>Werbefl&auml;chen gesucht? CarAds bietet für jeden Werbenden die passenden Fahrzeuge in jeder
                       Stadt deutschlandweit.</p>
                    <div class="text-center"> 
                    <p><a href="#registration/advertiser/" class="btn btn-primary" role="button">Als Werbender Registrieren</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>