<main>
    <h1>{{"heading.registration" | translate}}</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail registration">
                <a href="#registration/driver/">
                    <div class="thumb-img">
                        <img src="./img/registration/driver.jpg" alt="Registrierung Fahrer">
                    </div>
                </a>
                <div class="caption">
                    <h3>{{"registration.driverTitle" | translate}}</h3>
                    <p>{{"registration.driverText" | translate}}</p>
                    <div class="text-center"> 
                        <p><a href="#registration/driver/" class="btn btn-primary" role="button">Als Fahrer Registrieren</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail registration">
                <a href="#registration/advertiser/">
                    <div class="thumb-img">
                        <img src="./img/registration/advertiser.jpg" alt="Registrierung Werbender">
                    </div>
                </a>
                <div class="caption">
                    <h3>{{"registration.advertiserTitle" | translate}}</h3>
                    <p>{{"registration.advertiserText" | translate}}</p>
                    <div class="text-center"> 
                        <p><a href="#registration/advertiser/" class="btn btn-primary" role="button">Als Werbender Registrieren</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>