<main>
    <div class="alert alert-{{alert.level}}" ng-hide="alert === undefined">
        <a class="close" ng-click="deleteAlert()" aria-label="close">&times;</a>
        <strong>{{alert.title}}:</strong> {{alert.content}}
    </div>
    <form name="advertiserForm">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="company" class="required">Unternehmen</label>
                    <input type="text" class="form-control" id="company" ng-model="advertiser.company" required="">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="title" class="required">Titel</label>
                            <select type="text" class="form-control" id="title" ng-model="advertiser.title" required="">
                                <option>Herr</option>
                                <option>Frau</option>
                            </select>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstname" class="required">Vorname</label>
                            <input type="text" class="form-control" id="firstname" ng-model="advertiser.firstname" required="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastname" class="required">Nachname</label>
                            <input type="text" class="form-control" id="lastname" ng-model="advertiser.lastname" required="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="image">Logo</label>
                            <input name="file" id="image" class="form-control" type="file" fileread="image" onchange="angular.element(this).scope().saveImage()" 
                                   ng-show="advertiser.logo === undefined">
                            <div class="elementImage" ng-if="advertiser.logo !== undefined">
                                <span class="glyphicon glyphicon-trash imgDelete" aria-hidden="true" ng-click="deleteImage()"><span> löschen</span></span>
                                <img ng-src="../api/images/{{advertiser.logo.id}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="required" for="street">Stra&szlig;e und Hausnummer</label>
                    <input type="text" class="form-control" id="street" ng-model="advertiser.address.street" required="">
                </div> 
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="zip" class="required">PLZ</label>
                            <input type="text" class="form-control" id="zip" ng-model="advertiser.address.zip" required="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="city" class="required">Stadt</label>
                            <input type="text" class="form-control" id="city" ng-model="advertiser.address.city" required="">
                        </div>
                    </div>
                </div> 
                <div class="form-group">
                    <label for="country" class="required">Land</label>
                    <input type="text" class="form-control" id="country" ng-model="advertiser.address.country" required="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="phone" class="required">Telefon</label>
                    <input type="text" class="form-control" id="phone" ng-model="advertiser.phone" required="">
                </div>
                <div class="form-group">
                    <label for="birthdate" class="required">Geburtsdatum</label>
                    <p class="input-group">
                        <input type="text" class="form-control" id="birthdate" ng-model="advertiser.birthdate" datepicker-popup="{{datePicker.format}}" datepicker-options="datePicker.options" is-open="datePicker.instances['event1']" required="">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="datePicker.open($event, 'event1')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </p>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="required">Pflichtfeld</div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary" ng-click="exitAdvertiser()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Schlie&szlig;en
                </button>
                <button type="submit" class="btn btn-success" ng-click="updateAdvertiser()" ng-disabled="!advertiserForm.$valid">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    Aktualisieren
                </button>
            </div>
        </div>
    </form>
</main>