<main>
    <h3>{{"label.car"| translate}}</h3>
    <div class="alert alert-{{alert.level}}" ng-hide="alert === undefined">
        <a class="close" ng-click="deleteAlert()" aria-label="close">&times;</a>
        <strong>{{alert.title}}:</strong> {{alert.content}}
    </div>
    <form name="carForm">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="brand" class="required">{{"car.brand"| translate}}</label>
                            <input type="text" class="form-control" id="brand" ng-model="car.brand" required="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="model" class="required">{{"car.model"| translate}}</label>
                            <input type="text" class="form-control" id="model" ng-model="car.model" required="">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="color" class="required">{{"car.color"| translate}}</label>
                    <select class="form-control" id="color" ng-model="car.color" required="">
                        <option ng-repeat="color in colorRange | orderBy: color">{{color}}</option>
                        <option>{{"label.other"| translate}}</option>
                    </select>
                </div> 
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="buildYear" class="required">{{"car.buildYear"| translate}}</label>
                    <input type="number" min="1901" class="form-control" id="buildYear" ng-model="car.buildYear"  required="">
                </div>            
                <div class="form-group">
                    <label for="mileage" class="required" >{{"car.milage"| translate}}</label>
                    <input type="number" min="1" class="form-control" id="mileage" ng-model="car.mileage" required="">
                </div>  
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="description" class="required">{{"car.carDescription"| translate}}</label>
                    <textarea type="text" class="form-control" id="description" ng-model="car.description" required=""></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="image">{{"car.carImages"| translate}}</label>
                    <input name="file" id="image" class="form-control" type="file" fileread="image"
                           onchange="angular.element(this).scope().saveImages()" multiple="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="elementImage multi" ng-repeat="image in car.images">
                    <span class="glyphicon glyphicon-trash imgDelete" aria-hidden="true" ng-click="deleteImage(image.id)"><span> löschen</span></span>
                    <img ng-src="../api/images/{{image.id}}" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="required">{{"label.requiredFields"| translate}}</div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-default" onclick="history.back()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {{"button.close"| translate}}
                </button>
                <button type="submit" class="btn btn-danger" ng-click="deleteCar()" ng-if="!isNewCar">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    {{"button.delete"| translate}}
                </button>
                <button type="submit" class="btn btn-success" ng-click="saveCar()">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    {{"button.save"| translate}}
                </button>
            </div>
        </div>
    </form>
</main>