<main>
    <h2>{{"heading.carRequests"| translate}}</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table ng-table="tableParams" class="table table-striped table-hover">
                    <tr ng-repeat="request in $data">
                        <td data-title="'Fahrzeug'" sortable="'car.brand'">{{request.car.brand}} {{request.car.model}}</td>
                        <td data-title="'Kampagne'" sortable="'campaign.title'">{{request.campaign.name}}</td>
                        <td data-title="'Unternehmen'" sortable="'advertiser.company'">{{request.advertiser.company}}</td>
                        <td data-title="'Beginn'" sortable="'campaign.startDate'">{{request.campaign.startDate | date:'dd.MM.yyyy'}}</td>
                        <td data-title="'Ende'" sortable="'campaign.endDate'">{{request.campaign.endDate | date:'dd.MM.yyyy'}}</td>
                        <td data-title="'Status'" sortable="'state'">
                            <span class="label label-{{getStateLabelBoostrapState(request.state)}}">{{getStateLabel(request.state)}}</span>
                        </td>
                        <td data-title="''" class="text-right">
                            <span ng-if="request.state == 'ASKED'">
                                <button class="btn btn-danger btn-xs" type="button"
                                        ng-click="sendResponse(request.car.id, request.advertiser.id, request.campaign.id, false)">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    {{"button.reject"| translate}}
                                </button>
                                <button class="btn btn-success btn-xs" type="button"
                                        ng-click="sendResponse(request.car.id, request.advertiser.id, request.campaign.id, true)">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    {{"button.accept"| translate}}
                                </button>
                            </span>
                            <button class="btn btn-default btn-xs" type="button"
                                    ng-click="openCampaignDetails(request.car.id, request.advertiser.id, request.campaign.id)">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                {{"label.details"| translate}}
                            </button>                            
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</main>