<main>
    <h3>Fahrer</h3>
    <div class="alert alert-{{alert.level}}" ng-hide="alert === undefined">
        <a class="close" ng-click="deleteAlert()" aria-label="close">&times;</a>
        <strong>{{alert.title}}:</strong> {{alert.content}}
    </div>
    <form name="driverForm">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstname" class="required">Vorname</label>
                            <input type="text" class="form-control" id="firstname" ng-model="driver.firstname" required="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastname" class="required">Nachname</label>
                            <input type="text" class="form-control" id="lastname" ng-model="driver.lastname" required="">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone">Mobil</label>
                    <input type="text" class="form-control" id="phone" ng-model="driver.phone">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="image">Profilbild</label>
                            <input name="file" id="image" class="form-control" type="file" fileread="image" onchange="angular.element(this).scope().saveImage()" 
                                   ng-show="driver.profilePicture === undefined">
                            <div class="elementImage" ng-if="driver.profilePicture !== undefined">
                                <span class="glyphicon glyphicon-trash imgDelete" aria-hidden="true" ng-click="deleteImage()"><span> löschen</span></span>
                                <img ng-src="../api/images/{{driver.profilePicture.id}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="required" for="street">Stra&szlig;e und Hausnummer</label>
                    <input type="text" class="form-control" id="street" ng-model="driver.address.street" required="">
                </div>  
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="zip" class="required">PLZ</label>
                            <input type="text" class="form-control" id="zip" ng-model="driver.address.zip" required="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="city" class="required">Stadt</label>
                            <input type="text" class="form-control" id="city" ng-model="driver.address.city" required="">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="country" class="required">Land</label>
                    <input type="text" class="form-control" id="country" ng-model="driver.address.country" required="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="occupation">Beruf</label>
                    <input type="text" class="form-control" id="occupation" ng-model="driver.occupation">
                </div>  
                <div class="form-group">
                    <label for="birthdate" class="required">Geburtsdatum</label>
                    <input type="text" class="form-control" id="birthdate" ng-model="driver.birthdate" required="">
                </div>  
                <div class="form-group">
                    <label for="licenseDate" class="required">F&uuml;hrerschein seit</label>
                    <input type="text" class="form-control" id="licenseDate" ng-model="driver.licenseDate" required="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="description">Kurzbeschreibung</label>
                    <textarea type="text" class="form-control" id="description" ng-model="driver.description"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="required">Pflichtfeld</div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary" ng-click="exitDriver()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Schlie&szlig;en
                </button>
                <button type="submit" class="btn btn-success" ng-click="updateDriver()" ng-disabled="!driverForm.$valid">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    Aktualisieren
                </button>
            </div>
        </div>
    </form>
</main>