<main>
    <div class="row">
        <div class="col-md-12">
            <h2>{{driver.firstname}} {{driver.lastname}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <h4>Kontakt</h4>
                    <p><strong>Mail:</strong> {{driver.email}}<br />
                        <strong>Mobil:</strong> {{driver.phone}}</p>
                    <h4>Anschrift</h4>
                    <p>{{driver.address.street}}<br />
                        {{driver.address.city}} {{driver.address.zip}}<br />
                        {{driver.address.country}}</p>
                </div>
                <div class="col-md-6">
                    <h4>Sonstiges</h4>
                    <p><strong>Beruf:</strong> {{driver.occupation}}<br />
                        <strong>Geburtsdatum:</strong> {{driver.birthdate | date:'dd.MM.yyyy'}}<br />
                        <strong>F&uuml;hrerschein seit:</strong> {{driver.licenseDate | date:'dd.MM.yyyy'}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h4>Beschreibung</h4>
                    <p>{{driver.description}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="elementImage">
                <img ng-if="driver.profilePicture.id !== undefined" ng-src="../api/images/{{driver.profilePicture.id}}" alt="{{driver.firstname}} {{driver.lastname}} Profilbild"/>
                <img ng-if="driver.profilePicture.id === undefined" src="./img/symbols/empty_profilepicture.jpg" alt="Profilbild Symbol" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
            <a  class="btn btn-default" ng-click="editDetails()" ng-if="realm.isDriver || realm.isAdmin">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                Bearbeiten
            </a>
        </div>
    </div>
</main>