<main>
    <div class="row" ng-if="realm.isAdvertiser">
        <div class="col-md-6">
            <div class="thumbnail home">
                <a href="#/advertiser/{{realm.advertiserId}}/campaigns/">
                <div class="thumb-img">
                <img src="./img/symbols/campaign.jpg" alt="&Uuml;bersicht aller Kampagnen">
                </div>
                </a>
                <div class="caption">
                    <h3>Kampagnen &Uuml;bersicht</h3>
                    <p>Verwalten Sie Ihre aktuellen Kampagnen und informieren Sie sich &uuml;ber den
                        aktuellen Status gesendeter Buchungsanfragen.</p>
                    <div class="text-center"> 
                    <p><a href="#/advertiser/{{realm.advertiserId}}/campaigns/" class="btn btn-primary">Kampagnen &Uuml;bersicht</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail home">
                <a href="#/advertiser/{{realm.advertiserId}}/campaignEdit/">
                <div class="thumb-img">
                <img src="./img/symbols/addCampaign.jpg" alt="Neue Kampagnen anlagen">
                </div>
                </a>
                <div class="caption">
                    <h3>Neue Kampagnen</h3>
                    <p>Erstellen Sie eine neue Kampagne und fragen Sie zu dieser Fahrzeuge an. W&auml;len Sie
                     dazu passende Fahrzeuge anhand von Filtern aus.</p>
                    <div class="text-center"> 
                    <p><a href="#/advertiser/{{realm.advertiserId}}/campaignEdit/" class="btn btn-primary">Neue Kampagnen</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="realm.isDriver">
        <div class="col-md-6">
            <div class="thumbnail home">
                <a href="#/driver/{{realm.driverId}}/cars/">
                <div class="thumb-img">
                <img src="./img/symbols/cars.jpg" alt="&Uuml;bersicht aller Kampagnen">
                </div>
                </a>
                <div class="caption">
                    <h3>Meine Fahrzeuge</h3>
                    <p>Verwalte Deine aktuell im Poral hinterlegten Fahrzeuge. Füge Informationen und Fotos zu
                        bestehenden Fahrzeugen hinzu oder lege ein neues Fahrzeug an.</p>
                    <div class="text-center"> 
                    <p><a href="#/driver/{{realm.driverId}}/cars/" class="btn btn-primary">Meine Fahrzeuge anzeigen</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail home">
                <a href="#/carRequests/">
                <div class="thumb-img">
                <img src="./img/symbols/carRequests.jpg" alt="Neue Kampagnen anlagen">
                </div>
                </a>
                <div class="caption">
                    <h3>Fahrzeug Anfragen</h3>
                    <p>Schau nach, ob aktuelle Buchungsanfragen f&uuml;r Deine Fahrzeuge vorhanden sind.
                     Sag Dir ein Kampagne zu, bestätige die Anfrage für Dein Fahrzeug!</p>
                    <div class="text-center"> 
                    <p><a href="#/carRequests/" class="btn btn-primary">Fahrzeug Anfragen ansehen</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>