<main>
    <div class="row" ng-if="realm.isAdvertiser">
        <div class="col-md-6">
            <div class="thumbnail home">
                <a href="#/advertiser/{{realm.advertiserId}}/campaigns/">
                <div class="thumb-img">
                <img src="./img/symbols/campaign.jpg" alt="&Uuml;bersicht aller Kampagnen">
                </div>
                </a>
                <div class="caption">
                    <h3>{{"home.campaignOverview"| translate}}</h3>
                    <p>{{"home.campaignText"| translate}}</p>
                    <div class="text-center"> 
                    <p><a href="#/advertiser/{{realm.advertiserId}}/campaigns/" class="btn btn-primary">
                        {{"home.campaignOverview"| translate}}
                        </a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail home">
                <a href="#/advertiser/{{realm.advertiserId}}/campaignEdit/">
                <div class="thumb-img">
                <img src="./img/symbols/addCampaign.jpg" alt="Neue Kampagnen anlagen">
                </div>
                </a>
                <div class="caption">
                    <h3>{{"home.newCampaign"| translate}}</h3>
                    <p>{{"home.newCampaignText"| translate}}</p>
                    <div class="text-center"> 
                                <p><a href="#/advertiser/{{realm.advertiserId}}/campaignEdit/" class="btn btn-primary">
                                           {{"home.newCampaign"| translate}}
                            </a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="realm.isDriver">
        <div class="col-md-6">
            <div class="thumbnail home">
                <a href="#/driver/{{realm.driverId}}/cars/">
                <div class="thumb-img">
                <img src="./img/symbols/cars.jpg" alt="&Uuml;bersicht aller Kampagnen">
                </div>
                </a>
                <div class="caption">
                    <h3>{{"home.myCars"| translate}}</h3>
                    <p>{{"home.myCarsText"| translate}}</p>
                    <div class="text-center"> 
                                <p><a href="#/driver/{{realm.driverId}}/cars/" class="btn btn-primary">
                                        {{"home.myCars"| translate}}
                            </a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail home">
                <a href="#/carRequests/">
                <div class="thumb-img">
                <img src="./img/symbols/carRequests.jpg" alt="Neue Kampagnen anlagen">
                </div>
                </a>
                <div class="caption">
                    <h3>{{"label.carRequests"| translate}}</h3>
                    <p>Schau nach, ob aktuelle Buchungsanfragen f&uuml;r Deine Fahrzeuge vorhanden sind.
                     Sag Dir ein Kampagne zu, bestätige die Anfrage für Dein Fahrzeug!</p>
                    <div class="text-center"> 
                    <p><a href="#/carRequests/" class="btn btn-primary">{{"label.carRequests"| translate}}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>